.display-tree-small{
  background: url('../images/tree.jpeg');
  background-repeat: no-repeat;
  height:200px;
  width:200px;
  border: solid black 2px;
}

.display-tree-big{
  background: url('../images/tree_big.jpg');
  background-repeat: no-repeat;
  height:1000px;
  width:1000px;
  border: solid black 2px;
}

#orange-tree-template { visibility: hidden; }
.hide {
  display: none;
}
.unhide {
  visibility: visible;
}
.orange-tree {
  position: relative;
}

div#tree img {

  /*top: 450px;*/
}

/* Add more styles here*/